	
@media screen{
html, body{
margin: 0;
padding: 0;
background-image:url(img/steel.jpg);
background-repeat:repeat;
color:navy;
}
.head1{
padding-left: 2px;
font: bold 18pt  Arial, Helvetica, sans-serif
color: navy;
}


.head2{
margin-top: 10px;
border-top: 2px solid navy;
border-bottom: 1px solid navy;
background-color: white;
padding-left: 3px;
font: bold 12pt Arial, Helvetica, sans-serif
color: navy;
}



.head3{
padding-left:5px;
margin:0;
vertical-align:top;
font: bold 9pt Arial, Helvetica, sans-serif
color: navy;
}



.head4{
margin:0;
padding-left:8px;
vertical-align:top;
font:         8pt Arial, Helvetica, sans-serif
border:none;
color: navy;
}

a:link {color: navy;}      /* unvisited link */
a:visited {color:navy;}  /* visited link */
a:hover {color:#00FF00;}  /* mouse over link */
a:active {color:#2E64FE;}  /* selected link */ 
/* ---------Wrapper Container----------- */

.wrapper
{
	margin		: 0px;
	border		: none;
	height		: 100%;
	min-height	: 1000px;
	padding		: 0px;
}


.container
{

height: 100%;
width: 850px;
}


/* -----Header container----- */
.header
{
width: 850px;
}


/* ----PR Print Title----- */
.textl
{
	color		: navy;
	font-size	: 50px;
	font-weight	: bold;
	font-family	: arial,gadget,sans-serif;
	z-index		: 5;
	margin-top: 40px;
	margin-left: 250px;
	margin-bottom: 10px;

}

/* ----Standard Procurement System----- */
.captchl
	{
	
	font-size	:18px;
	color		:white;
	z-index		:10;
	font-weight	:bold;
	font-family	:arial,gadget,sans-serif;
	margin-left: 350px;
	margin-top: -20px;
	margin-bottom:10px;
	
	}


/* ----Database Connection Message----- */
.captchr
	{
	float: right;
	font-size	: 12px;
	color		: navy;
	font-weight	: bold;
	font-style	: italic;
	z-index		: 10;
	font-family	: arial,gadget,sans-serif;	
	margin-right: 10px;
	line-height: 27px;
	vertical-align:  middle;

	}

	

/* ----Menu Bar to contain navigation links -----*/
.menubar
	{
	height		: 27px;
	width: 100%;
	min-width: 600px;
	background-color: white;
	color: navy;
	font-family: bold arial,gadget,sans-serif;
	border-top	: 3px solid navy;
	border-bottom 	: 1px solid navy;
	margin-left	: 2px;
	margin-right	: 2px;
	position:fixed;
	}
	
	
	
/* ----Navigation Bar----- */
#navbar
	{
	height		: 100%;
	position:fixed;
	z-index		: 2;
	margin-left	: 0px;	
	min-width:  350px;

	}
	
	
#navbar li 
	{
	list-style	: none;
	margin-left: 12px;
	float		: left;
	position	: relative;
	font-style	: italic;
	}

#navbar li a 
	{
	display		: block;
	text-color	: navy;
	text-decoration	: none;
	font-family	: arial,gadget,sans-serif;
	font-size	: 15px;
	font-weight	: bold;
	text-align	: center;
	line-height	: 25px;
	vertical-align	: middle;
	position	: relative;
	}

/* ----subnav menu----*/

#navbar li ul
	{
	display		:none;/*hide the subnav menu*/
	background-color:navy;	
	}


/* ----style the hover----- */
#navbar li:hover
	{ 
	border		: 1px inset white ;
	background-color: #F2F2F2;
	}
	

#navbar li a:hover{color:#2E64FE;}
	
#navbar li:hover ul 
	{
	display		: block;
	margin		: 0;
	}

#navbar li:hover li 
	{
	margin-top	: 0;
	float		: left;
	width		: 100%;
	}

#navbar li:hover li a 
	{
	font-size: 12px;
	text-align:left;
	}
	
	
#navbar li a:hover 
	{
	}
	
	/* -----Form Container PR_Print.asp ---- */	


.hContainer{

width: 600px;
margin-left: 125px;
text-align: center;
margin-top:25px;
}






